.footerChild {
  position: absolute;
  height: 100%;
  width: 100%;
  /* object-fit: contain; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  background-color: #2F3F60;
}
.termsConditions {
  cursor: pointer;
  position: absolute;
  top: 54.05%;
  left: 77.8%;
  line-height: 120%;
}
.houseowls {
  text-transform: capitalize;
}
.houseowlsAllRightsContainer,
.privacyPolicy {
  cursor: pointer;
  position: absolute;
  top: 54.05%;
  line-height: 120%;
}
.houseowlsAllRightsContainer {
  left: 0;
  text-align: left;
}
.privacyPolicy {
  left: 90.82%;
}
.secondaryFooterChild {
  position: absolute;
  height: 5.41%;
  width: 100%;
  top: 15.7%;
  bottom: 97.3%;
  border-top: 2px solid var(--white);
  box-sizing: border-box;
  opacity: 0.1;
}
.secondaryFooter {
  position: absolute;
  height: 10.63%;
  width: 86.11%;
  top: 80.75%;
  right: 6.94%;
  bottom: 8.62%;
  left: 6.94%;
  text-align: right;
  font-family: var(--footer);
}
.discoverHouseowls {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xs);
  letter-spacing: 0.1em;
  line-height: 114.2%;
  text-transform: uppercase;
  color: var(--color-whitesmoke-200);
}
.aboutUs,
.blog,
.contactUs,
.home {
  cursor: pointer;
  position: absolute;
  top: 22.84%;
  left: 0.37%;
  line-height: 125%;
}
.aboutUs,
.blog,
.contactUs,
.aboutUs,
.contactUs {
  cursor: pointer;
  top: 45.81%;
}
.aboutUs {
  top: 85.8%;
}
.aboutUs1,
.blog1,
.contactUs1,
.home1 {
  position: absolute;
  top: 24.69%;
  left: 67.4%;
  line-height: 125%;
}
.aboutUs1,
.blog1,
.contactUs1 {
  top: 45.68%;
}
.aboutUs1,
.contactUs1 {
  top: 66.67%;
}
.aboutUs1 {
  top: 87.65%;
}
.discover {
  position: absolute;
  height: 46.55%;
  width: 18.96%;
  top: 16.95%;
  right: 6.94%;
  bottom: 36.49%;
  left: 74.1%;
  font-size: var(--font-size-base);
}
.image2Icon,
.socialMediaLogos { 
  position: absolute;
  left: 6.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image2Icon {
  height: 26.41%;
  width: 23.22%;
  top: 11.49%;
  right: 72.74%;
  bottom: 30.09%;
  object-fit: cover;
}
.socialMediaLogos {
  height: 6.9%;
  top: 71.75%;
  right: 85.83%;
  bottom: 31.35%;
}
.loremIpsumDolor {
  position: absolute;
  height: 20.98%;
  width: 31.25%;
  top: 33.91%;
  left: 6.94%;
  display: inline-block;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 348px;
  text-align: left;
  font-size: var(--footer-size);
  color: var(--white);
  font-family: var(--font-poppins);
}
